* {
    color: whitesmoke;
}

body {
    max-width: 100%;
    background-color: rgb(37, 47, 54);
}

#aboutMe,
#tools,
#quote {
    max-width: 100%;
    height: auto;
    margin: 25px;
}

#profilePic {
    width: 300px;
    height: auto;
    padding-right: 25px;
    padding-bottom: 25px;
    float: left;
}

#aboutMe p {
    font-size: 1.5em;
}

#aboutMe h1 {
    font-size: 2em;
}

#tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#quote header {
    font-size: 3.5em;
    text-align: center;
}

#quote p {
    font-size: 2em;
    text-align: end;
    margin-right: 10%;
}

#Intro {
    max-width: 100%;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Intro header {
    font-size: 3em;
}