* {
    color: whitesmoke;
}

body {
    max-width: 100%;
    background-color: rgb(37, 47, 54);
}

#aboutMe,
#tools,
#quote,
#Projects {
    max-width: 100%;
    height: auto;
    margin: 25px;
    margin-bottom: 8vh;
}

#profilePic {
    width: 300px;
    height: auto;
    padding-right: 25px;
    padding-bottom: 25px;
    float: left;
}

#aboutMe p {
    font-size: 1.5em;
}

#aboutMe h1,
#Projects header {
    font-size: 2em;
}

#tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#quote header {
    font-size: 3.5em;
    text-align: center;
}

#quote p {
    font-size: 2em;
    text-align: end;
    margin-right: 10%;
}

#Intro {
    max-width: 100%;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Intro header {
    font-size: 3em;
}

#Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Projects img {
    width: 12vw;
    height: initial;
}

#Projects header,
header {
    font-size: 2.5em;
    margin-bottom: 5vh;
    text-align: center;
}

.projectBox {
    width: 80%;
    display: flex;
    border-style: solid;
    background: -webkit-gradient(linear, left top, left bottom, from(37, 47, 54), to(62, 72, 89));
    background-color: rgb(47, 57, 64);
}

.projectText {
    text-align: left;
    padding-left: 15px;
}

.projectText p {
    font-size: 1em;
}

#Projects .projectText header {
    font-size: 2em;
    margin-bottom: 0;
    padding-top: 2vh;
    text-align: left;
}

.projectBtn {
    width: 9vw;
    height: 7vh;
    background-color: coral;
    border-style: unset;
    margin-bottom: 3vh;
}

.projectBtn:hover {
    background-color: orange;
    color: white;
}