body {
    margin: 0;
    max-width: 100%;
}

#topBar {
    margin: 0;
    background-color: coral;
    max-width: 100%;
    height: 75px;
    display: flex;
}

.tab {
    display: flex;
    height: 100%;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.15em;
    align-content: center;
    justify-content: center;
}

.tab:hover {
    background-color: orange;
    color: white;
}

.tab a {
    text-decoration: none;
    color: whitesmoke;
    margin-top: 20px;
    text-align: center;
}

#bottom {
    background-color: rgb(30, 40, 47);
    width: 100%;
    height: auto;
    padding: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.footerColumn header {
    font-size: 2em;
}

#socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smLogo {
    width: 50px;
    height: auto;
    margin-bottom: 15px;
}

.link {
    size: 1em;
    text-align: left;
    margin: 7px;
}